/* main style */
:root {
  --bg-color: #f9f9fb;
  --primary-text: #171717;
  --secondary-text: #7f7f80;
  --call-action: #6b6af4;
  --primary-item: #4b4bef;
  --secondary-item: #6e6ef1;
  --button-color: #6969f5;
}

@font-face {
  font-family: 'Cox';
  src: url('../fonts/Stolzl\ Book.ttf');
}

html,
body {
  font-family: 'Cox';
  margin: 0;
  padding: 0;
  color: var(--primary-text) !important;
  overflow-x: hidden !important;
}

.bg-main {
  /* position: absolute; */
  background-color: var(--bg-color) !important;
  width: 100vw !important;
  height: 100vh !important;
}
.call-action-text {
  color: var(--call-action);
}
.light-text {
  color: var(--secondary-text) !important;
  font-weight: 400;
}

.secondary-text {
  color: var(--primary-item) !important;
}

.primary-item {
  background-color: var(--primary-item) !important;
}
.secondary-item {
  background-color: var(--secondary-item) !important;
}

/* end of main style */

/* navbar */
.btn-port {
  background-color: var(--button-color) !important;
  color: white;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  /* filter: blur(0.3px); */
  outline: none !important;
}
.icon h1 {
  font-weight: 900 !important;
}
.top-nav {
  z-index: 100000000;
  position: fixed;
  width: 100vw;
  padding: 1rem;
}
/* .top-nav-normal {
  background-color: transparent !important;
} */
.top-nav-scrolled {
  background-color: white !important;
  box-shadow: -1.6rem 1rem 2.4rem -0.5rem rgba(45, 51, 109, 0.175) !important;
  transition: 0.46s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.top-nav .menu ul li a {
  font-size: 16px;
}

/* end of navbar */

.full {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

/* hero title */
.hero {
  text-align: center;
  transform: translate(0%, 110%);
}
.hero .display {
  font-size: 66px;
  font-weight: 500;
  letter-spacing: -5px;
}

.hero h5 {
  margin-top: -22px;
  font-size: 16px;
  letter-spacing: 1px;
}

/* Waves */
.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.waves .front-wave,
.waves .back-wave,
.waves .pattern7x7 {
  bottom: 0;
  position: absolute;
  overflow-x: hidden !important;
  width: 100%;
  height: auto;
}

.waves .back-wave {
  transform: translate(7%, 0);
  overflow-x: hidden !important;
}

.waves .pattern7x7 {
  left: 0;
  transform: translate(0, 50%);
  opacity: 0.7;
  width: 120px;
  height: 120px;
  z-index: 100000 !important;
}

/* second Screen */
.secondScreen {
  background-color: white;
  width: 100vw !important;
  height: 100vh !important;
}
.scr2 {
  height: 100% !important;
  padding-top: 80px;
  padding-bottom: 80px;
}
.secondScreen .scr2 .tools {
  padding: 0 5rem 0 5rem;
}

.secondScreen .scr2 .tools img {
  width: auto;
  height: 60px;
  object-fit: cover;
}

.slideshow {
  display: inline-block;
  white-space: nowrap;
  animation: floatText 25s infinite linear;
  padding-left: 100%; /*Initial offset, which places the text off-screen*/
}
@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}
.slideshow:hover {
  animation-play-state: paused;
}

.specilizing .hero {
  width: 50vw;
  transform: translate(0%, 70%);
}

.specilizing .hero .display-4 {
  font-size: 2.5rem !important;
}

.cards {
  height: 20rem;
}

.cards .card {
  display: block;
  background-color: white !important;
  border: none;
  border-radius: 5px 0 9.5% 0;
  box-shadow: -1.6rem 1rem 2.4rem -0.5rem rgba(45, 51, 109, 0.175) !important;
  transition: 0.36s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cards .card:hover {
  background-color: var(--primary-item) !important;
  color: white !important;
  border-radius: 5px 0 50% 0;
}

.cards .card .contain {
  position: absolute;
}

.cards .card:hover > .contain > a,
.cards .card:hover .contain .pattern9x6 {
  opacity: 1 !important;
  color: white !important;
  bottom: -10px;
  left: -70px;
  transition: 0.46s;
}

.cards .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cards .card:hover::before {
  background-color: var(--secondary-item);
  transition: 0.36s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: -1;
}

.cards .card .contain p {
  font-size: 11px;
}

.cards .card .contain a {
  color: var(--call-action) !important;
  font-size: 12px;
}

.cards .card .pattern9x6 {
  opacity: 0;
  position: relative;
  bottom: -20px;
  left: -100px;
  width: 140px;
  height: 88px;
}

/* third screen */
.thirdScreen {
  width: 100vw;
  height: 100vh;
}

.thirdScreen .holder {
  width: 95% !important;
  border-radius: 0 2% 7% 0;
}

.thirdScreen .holder .imageHolder {
  position: relative;
  width: 90%;
  height: 55vh !important;
  border-radius: 0 2% 7% 0;
}

.thirdScreen .holder .teamwork {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 2% 7% 5px;
}
.thirdScreen .holder .projects {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27%;
  background-color: var(--primary-item);
  border-radius: 0 0 27px 5px;
}
.projectWave {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100% !important;
}
.projectWave img {
  float: right;
  width: 40%;
  height: 100% !important;
  border-radius: 0 0 55% 0;
  transform: translate(0px, 40px);
}
.leftSide {
  color: white !important;
}
.thirdScreen .holder .projects .projBtn {
  background-color: white !important;
  padding: 0 1.2rem 0 1.2rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 11px;
  outline: none !important;
}
.thirdScreen .holder .projects .projBtn a {
  color: var(--call-action) !important;
}
/* fourth screen */
.fourthScreen {
  width: 100vw;
  height: 100vh;
}
.fourthScreen .holder {
  padding-top: 7%;
  padding-bottom: 7%;
  width: 100%;
  height: 100%;
}
.fourthScreen .holder .whyMeImg {
  object-fit: cover;
  width: 80%;
  height: 100%;
  border-radius: 0 5% 5% 0;
}

.fourthScreen .GoodAt .outterCheck {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  border: 1px var(--secondary-text) solid;
}
.fourthScreen .GoodAt .listCircle {
  color: var(--secondary-item);
  border-radius: 50%;
  border: 1px var(--secondary-item) solid;
}

/* fifth screen */
.fifthScreen {
  width: 100vw;
  height: 70vh;
}
.fifthScreen .peopleAre {
  margin-top: 70px;
  transform: translateX(54%);
}
.peopleAre {
  width: 60%;
  font-size: 3rem !important;
}
.peopleSay {
  width: 100%;
  height: 60vh;
  margin-top: 0;
  position: relative;
}
.peopleSay .flyPics {
  position: absolute;
  width: 100%;
  height: 100%;
}
.peopleSay .flyPics .profileImg:nth-child(1) {
  border-radius: 10px;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 5%;
}
.peopleSay .flyPics .profileImg:nth-child(2) {
  border-radius: 10px;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 5%;
}
.peopleSay .flyPics .profileImg:nth-child(3) {
  border-radius: 10px;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 30%;
  left: 0%;
}
.peopleSay .flyPics .profileImg:nth-child(4) {
  border-radius: 10px;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 40%;
  right: 0%;
}
.peopleSay .flyPics .profileImg:nth-child(5) {
  border-radius: 10px;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 60%;
  left: 7%;
}
.peopleSay .card::before {
  position: absolute;
  content: '';
  margin: 22px 0 0 22px;
  border-radius: 5px 16px 40px 5px;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: -5px 9px 26px 8px rgba(110, 110, 241, 0.1);
  z-index: -1;
}
.peopleSay .card {
  position: absolute;
  border-radius: 5px 16px 40px 5px;
  width: 62%;
  height: 56%;
  border: none;
  box-shadow: -5px 9px 26px 8px rgba(110, 110, 241, 0.1);
  transition: 0.46s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.card .pattern8x4 {
  position: absolute;
  top: 10%;
  right: -80px;
  width: 160px;
  height: 80px;
  z-index: 1;
}
.profileImg {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* sixth screen */
.sixthScreen {
  width: 100vw;
  height: 100vh;
  margin-top: 10%;
}
.sayHello {
  color: white;
  position: absolute;
  width: 70vw;
  height: 30vh;
  transform: translateY(-50%);
  border-radius: 5px 10px 58px 5px;
}
.helloBtn {
  outline: none !important;
  border: none;
  border-radius: 6px;
  padding: 1rem 2.5rem;
}
.helloBtn a {
  font-weight: 600;
}
.helloPattern9x6 {
  position: absolute;
  width: 200px;
  height: 120px;
  top: 190px;
  left: -60px;
  z-index: 2;
  filter: invert(0.1);
}

.seventhScreen {
  width: 100vw;
  height: 10vh;
}

.footer {
  font-size: medium;
}
.socialLinks li a {
  color: var(--primary-item) !important;
}
