/* main style */
:root {
  --bg-color: #f9f9fb;
  --primary-text: #171717;
  --secondary-text: #7f7f80;
  --call-action: #6b6af4;
  --primary-item: #4b4bef;
  --secondary-item: #6e6ef1;
  --button-color: #6969f5;
}

@font-face {
  font-family: 'Cox';
  src: url('../fonts/Stolzl\ Book.ttf');
}

html,
body {
  font-family: 'Cox';
  margin: 0;
  padding: 0;
  color: var(--primary-text) !important;
  overflow-x: hidden !important;
}

.bg-main {
  /* position: absolute; */
  background-color: var(--bg-color) !important;
  width: 100vw !important;
  height: 100vh !important;
}

.light-text {
  color: var(--secondary-text) !important;
  font-weight: 400;
}

.primary-item {
  background-color: var(--primary-item) !important;
}

.secondary-item {
  background-color: var(--secondary-item) !important;
}

/* end of main style */

/* navbar */
.btn-port {
  background-color: var(--button-color) !important;
  color: white;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  /* filter: blur(0.3px); */
  outline: none !important;
}
.top-nav {
  position: fixed;
  width: 80%;
}

.top-nav .menu ul li a {
  font-size: 13px;
}

/* end of navbar */

.full {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

/* hero title */
.hero {
  text-align: center;
  transform: translate(0%, 110%);
}
.hero .display {
  font-size: 66px;
  font-weight: 500;
  letter-spacing: -5px;
}

.hero h5 {
  margin-top: -22px;
  font-size: 16px;
  letter-spacing: 1px;
}

/* Waves */
.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.waves .front-wave,
.waves .back-wave,
.waves .pattern7x7 {
  bottom: 0;
  position: absolute;
  overflow-x: hidden !important;
  width: 100%;
  height: auto;
}

.waves .back-wave {
  transform: translate(7%, 0);
}

.waves .pattern7x7 {
  left: 0;
  transform: translate(0, 50%);
  opacity: 0.7;
  width: 120px;
  height: 120px;
  z-index: 100000 !important;
}

/* second Screen */
.secondScreen {
  background-color: white;
  width: 100vw !important;
  height: 100vh !important;
}
.scr2 {
  height: 100% !important;
  padding-top: 80px;
  padding-bottom: 80px;
}
.specilizing .hero {
  width: 50vw;
  transform: translate(0%, 70%);
}

.specilizing .hero .display-4 {
  font-size: 2.5rem !important;
}

.cards {
  height: 20rem;
}

.cards .card {
  display: block;
  background-color: white !important;
  border: none;
  border-radius: 5px 0 9.5% 0;
  box-shadow: -1.6rem 1rem 2.4rem -0.5rem rgba(45, 51, 109, 0.175) !important;
  transition: 0.36s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cards .card:hover {
  background-color: var(--primary-item) !important;
  color: white !important;
  border-radius: 5px 0 50% 0;
}

.cards .card .contain {
  position: absolute;
}

.cards .card:hover > .contain > a,
.cards .card:hover .contain .pattern9x6 {
  opacity: 1 !important;
  color: white !important;
  bottom: -10px;
  left: -70px;
  transition: 0.46s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cards .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cards .card:hover::before {
  background-color: var(--secondary-item);
  transition: 0.36s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: -1;
}

.cards .card .contain p {
  font-size: 11px;
}

.cards .card .contain a {
  color: var(--call-action) !important;
  font-size: 12px;
}

.cards .card .pattern9x6 {
  opacity: 0;
  position: relative;
  bottom: -20px;
  left: -100px;
  width: 140px;
  height: 88px;
  transition: 0.36s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
